---
###
# note: will result in an all-in-one-file stylesheet e.g. style.css
#   in _config.yml add:
#     sass:
#       sass_dir: css
#       style:    expanded
---


@import 'settings';
@import 'swipebox';
@import 'https://fonts.googleapis.com/css?family=Cardo';
/*
 * css styles go here
 */

body {
  font-family: $font-family;
  font-size: 1rem;
  color: black;
  background: #fff;
  padding: 1rem;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.index-section {
  max-width: 30rem;
}

#header {
  padding: 4px;
}

#header .big {
  font-size:   140%;
  font-weight: bold;
}

#header .small {
  font-size:    90%;
  color:        grey;
  padding-left: 15px;
}

#nav {
  padding: 6px;
}

.nav-text {
  padding: 0 1rem;
}

.subtitle {
  font-size: 1.5rem;
  color: grey;
}

.spacer {
  border-bottom: solid black;
  padding: 1rem 0;
  margin: 2rem 0;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.photo-gallery {
  flex-wrap: wrap;
  div {
    display: flex;
    align-items: center;
  }
  img {
    margin: .3rem;
  }

  img.wide {
    width: 200px;
  }

  img.tall {
    height: 200px;
  }
}
